# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.sln.cache
*.csproj.user
*.cachefile
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
test-publish/

# Specific project ignores
bin/Content
bin/*.exe
bin/*.dll
bin/*.pdb
bin/*.xml
bin/*.lvl
code/*/bin
code/*/obj

# Visual Studio cache/options directory
.vs/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

